<ng-container>
  <section class="section-table">
    <div class="section-table__card">
      <div class="section-table__card__header">
        <div class="title">
          <font>
            <p>Lista de marcas</p>
          </font>
        </div>
        <div class="actions">
          <p-menubar [model]="items">
            <ng-template pTemplate="item" let-item let-root="root">
              <a pRipple class="flex align-items-center p-menuitem-link">
                <span [class]="item.icon"></span>
                <span class="ml-2" (click)="export(item.label)">{{
                  item.label
                }}</span>
                <span
                  *ngIf="item.shortcut"
                  class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1"
                  >{{ item.shortcut }}</span
                >
                <i
                  *ngIf="item.items"
                  [ngClass]="[
                    'pi',
                    root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto'
                  ]"
                ></i>
              </a>
            </ng-template>
          </p-menubar>
        </div>
      </div>
      <div class="section-table__card__body">
        <p-table
          #dt2
          [value]="facturas"
          [paginator]="true"
          [rows]="rowsPerPage"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Registro {first} - {last} of {totalRecords}"
          styleClass="p-datatable-striped"
          [globalFilterFields]="[
            'num_factura',
            'nombre_completo',
            'fecha',
            'total_producto'
          ]"
          [tableStyle]="{ 'min-width': '50rem' }"
        >
          <ng-template pTemplate="caption">
            <div class="flex">
              <div style="align-items: center; margin-right: 5px">
                <span>Mostrar</span>
              </div>
              <p-dropdown [options]="options" [(ngModel)]="rowsPerPage" />
              <div style="align-items: center; margin-left: 5px">
                <span>registros</span>
              </div>
              <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="searchValue"
                  (input)="eventInput($event.target, dt2)"
                  placeholder="Search keyword"
                />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="num_factura" style="width: 20%">
                Numero de factura <p-sortIcon field="num_factura" />
              </th>
              <th pSortableColumn="nombre_completo" style="width: 20%">
                Cliente <p-sortIcon field="nombre_completo" />
              </th>
              <th pSortableColumn="fecha" style="width: 20%">
                Fecha <p-sortIcon field="fecha" />
              </th>
              <th pSortableColumn="total_producto" style="width: 20%">
                Total productos<p-sortIcon field="total_producto" />
              </th>
              <th>Acciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-factura>
            <tr>
              <td style="text-align: center">{{ factura.num_factura }}</td>
              <td>{{ factura.nombre_completo }}</td>
              <td>{{ factura.fecha }}</td>
              <td style="text-align: center">{{ factura.total_producto }}</td>
              <td>
                <div class="flex gap">
                  <p-button icon="pi pi-pencil" size="small" />
                  <p-button icon="pi pi-trash" size="small" severity="danger" />
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </section>
</ng-container>
